body{
    padding: 0px;
    margin: 0px;
    background-color:khaki;
}
header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    padding: 5px;
    margin: 50px;
    border: 5px solid blue;
    font-size: 30pt;
    text-align: center;
    background-color:darkgrey;
}
header h2{
    font-size:20pt;
}
main{
    text-align:center;
    
}
#name{
    background-color: darkgray;
  margin:50px;
    padding:1px;
    border: 5px solid black;  
    font-size: 26pt;
}
h3{
    font-size: 22pt;
}
li{
    font-size: 18pt;
}
#wantedFor{
    background-color: darkkhaki;
    color:black;
     margin:0px;
    padding:3px;
    border: 5px solid black;
    width:45%;
    float: right;
    text-align: left;
}
img{
    width:45%;
    margin:0px;
    padding:3px;
    border: 5px solid black;
    
}
#lastSeen{
    
     margin:30px;
    padding:3px;
    border: 5px solid black;
    text-align: left;
    
}
footer{
    color:red;
     margin:15px;
    padding:3px;
    border: 5px solid black;
    text-align: center;
    
}
